.sideNav_container {
  height: calc(100vh - 30px);
  padding: 15px;
  border-radius: 5px;
  box-shadow: 0px 0px 6px rgba(0, 0, 0, 0.25);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;

  gap: 20px;
}
.nav_content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  gap: 70px;
  height: 100vh;
  background-color: white;
}
.logo_container {
  width: 50px;
  & img {
    width: 100%;
    aspect-ratio: 1.5/1;
  }
}

.nav_container {
  & ul {
    padding: 0 !important;
    display: flex;
    flex-direction: column;
    gap: 25px;
  }

  & li {
    cursor: pointer;
    list-style: none;
    margin: 0 !important;
    padding: 10px 20px !important;
    border-radius: 5px;
    box-shadow: 0px 0px 6px rgba(0, 0, 0, 0.15);
    color: #7c7c7c;
    overflow: hidden;

    font-size: 14px;
    transition: all 0.3s ease;
    & p {
      transition: all 0.3s ease;
    }
    & .routeName {
      width: 0px;

      opacity: 0;
      transition: all 0.3s ease-in-out;
    }
  }
}
.routeContainer {
  display: flex;
  align-items: center;
  gap: 0px;
  justify-content: flex-start;
  position: relative;
  & i {
    transition: 0.3s ease;
    font-size: 18px;
  }
}
.sideNav_container:hover {
  & p {
    /* display: block; */
    opacity: 1;
    margin-left: 20px;
    width: 70px;
  }
  & .routeName {
    /* display: block; */
    opacity: 1;
    margin-left: 20px;
    width: 90px;
  }
}

.active_link {
  color: #0083db;
}
.logout {
  width: 100%;

  justify-self: flex-end;
  & button {
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    width: 100%;
    padding: 10px;
    background-color: white;
    box-shadow: 0px 0px 6px rgba(0, 0, 0, 0.15);
    color: #7c7c7c;
    border: none;
    transition: 0.3s ease;
    border-radius: 5px;
    & i {
      font-size: 21px;
      margin-left: 10px;
      color: #7c7c7c;
      transition: 0.3s ease;
    }
    & p {
      transition: 0.3s ease;
      opacity: 0;
      width: 0;
    }
  }
}

.small_num {
  position: absolute;
  font-size: 10px !important;
  top: -5px;

  left: -14px;
  z-index: 100;
  background-color: rgb(249, 62, 62);
  width: 20px;
  /* padding: 3px 8px; */
  color: white;
  border-radius: 50%;
  aspect-ratio: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}
.navItem {
  overflow: hidden !important;
  border-radius: 3px !important;
}

.navItem::after {
  content: "";
  width: 0;
  height: 3px;
  background: #0083db;
  position: absolute;
  left: 0;
  bottom: 0px;
  transition: 0.3s ease-in-out;
  border-radius: 10%;
}

.activeNav .navItem::after {
  width: 100%;
}

.activeNav .navItem {
  * {
    color: #0083db;
  }
}

a {
  transition: 0.3s ease !important;
}
