.employeesContainer {
  height: calc(100vh - 30px);
  background-color: white;
  box-shadow: 0px 0px 6px rgba(0, 0, 0, 0.2);
  border-radius: 5px;
  padding: 15px;
  display: grid;
}

.headlineContainer {
  color: #006eb7;
  display: flex;
  justify-content: space-between;
  align-items: center;
  & button {
    padding: 7px 20px;
    border: none;
    border-radius: 3px;
    background-color: #006eb7;
    color: white;
  }
}
.actionsContainer {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 10px;
  & input {
    padding-block: 7px;
    border-radius: 4px;
    border: none !important;
    outline: none !important;
    font-size: 12px;
  }
  & input::placeholder {
    color: #a4a4a4;
  }
}
.searchContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-left: 5px;
  padding-right: 10px;
  gap: 10px;

  box-shadow: 0px 0px 6px rgba(0, 0, 0, 0.221);

  border-radius: 4px;
}

.contentTableContainer {
  padding: 12px 20px;
  position: relative;
  & h2 {
    color: #006eb7;
  }
  & table {
    width: 100%;
    margin-block: 15px;
    border-radius: 10px;
    /* overflow: hidden; */
    height: 15vh;
    border-spacing: 0px !important;
    & thead {
      color: #a4a4a4;
      & tr {
        border-radius: 10px;
      }
      & tr th {
        background-color: rgb(234, 234, 234);
        padding: 5px;
        font-size: 14px;
        font-weight: 400;
      }
    }
    & tbody tr {
      padding: 5px;
      font-size: 14px !important;
      font-weight: 600;
      color: #818181;
    }
  }
}
.headline {
  display: flex;
  justify-content: space-between;
  & button {
    border: none;
    padding: 7px 15px;
    border-radius: 5px;
    color: white;
    font-weight: 600;
    background-color: #006eb8;
  }
}

.emp_data {
  text-align: center;
  background-color: #dfdfdf5c;
  width: 100%;
  /* margin: 20px !important; */
  /* box-shadow: 0px 0px 6px black; */
}

.emp_data tr {
  /* margin-block: 10px; */
}
.tableBody {
  position: relative;
}
.options_btn {
  background-color: transparent;
  border: none;
  font-size: 18px;
  margin-inline: 12px;
  color: #818181;
}

.person_image {
  width: 30px;
  overflow: hidden;
  text-align: center;
  & img {
    aspect-ratio: 1;
    border-radius: 50%;
    width: 100%;
  }
}

.image_td {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 5px;
}

.table_wrapper {
  overflow-y: scroll;
}

.table_wrapper::-webkit-scrollbar {
  display: none;
}
.error {
  text-align: center;
  width: 100%;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  top: 25px;
}

.pagination {
  display: flex;
  width: fit-content;
  justify-self: flex-end;
  align-self: flex-end;
  gap: 20px;
  font-size: 12px;
  font-weight: 600;
  margin-inline: 35px;
  justify-content: space-between;
  align-items: center;
  color: #006eb7;
  .pageHandlers {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    padding: 7px 14px;
    background-color: white;
    box-shadow: 0px 0px 6px rgba(0, 0, 0, 0.1);
    border-radius: 4px;
    cursor: pointer;
  }
  .middleText {
    padding: 7px 14px;
    border-radius: 4px;
    background-color: white;
    box-shadow: 0px 0px 6px rgba(0, 0, 0, 0.1);
  }
}

.commentBtn {
  position: relative;
}

.commentContainer {
  position: absolute;
  background-color: white;
  display: flex;
  align-items: center;
  gap: 10px;
  justify-content: center;
  padding: 15px;
  right: 15px;
  border-radius: 20px 4px 20px 20px;
  transition: 0.3s ease;
  transform: scale(0);
  -moz-transform-origin: top right;
  -webkit-transform-origin: top right;
  transform-origin: top right;
  box-shadow: 0px 0px 6px rgba(0, 0, 0, 0.1);
  bottom: -40px;
  & input {
    border: none !important;
    outline: none !important;
    font-size: 12px !important;
    color: #a4a4a4;
  }
  & button {
    color: #006eb7;
    font-weight: 500;
    border: none;
    cursor: pointer;
    background-color: transparent;
  }
  & input::placeholder {
    font-size: 10px;
    text-transform: capitalize;
  }
}
.closeBtn {
  position: absolute;
  left: 10px;
  background-color: white;
  padding: 3px 8px;
  border-radius: 50%;
  color: #a4a4a4;
  top: -40px;
  z-index: -10000 !important;
  font-size: 14px;
  box-shadow: 0px 0px 6px rgba(0, 0, 0, 0.2);
  /* font-weight: bolder; */
  cursor: pointer;
  transition: 0.3s ease;
}
.closeBtn:hover {
  color: rgb(247, 170, 170);
  box-shadow: 0px 0px 6px rgba(247, 170, 170, 0.2);
}

.commentWrapper {
  display: flex;
  align-items: center;
  position: relative;
  isolation: isolate;
  justify-content: center;
}
.activeComment {
  transform: scale(1);
}
