.sectionContainer {
  box-shadow: 0px 0px 6px rgba(0, 0, 0, 0.2) !important;
}
.headline h2 {
  color: #006eb7 !important;
}

.userImage {
  width: 100px;
  overflow: hidden;
  box-shadow: 0px 0px 6px rgba(0, 0, 0, 0.2);
  border-radius: 50%;
  & img {
    width: 100%;
    aspect-ratio: 1;
  }
}

.formContainer {
  width: 75%;
  margin: auto;
  & form {
    width: 100%;
  }
}

.inputs_container {
  & div {
    flex: 1;
  }
}
.progressContainer {
  display: grid;
  width: 100% !important;
  grid-template-columns: repeat(2, 1fr);
  column-gap: 50px;
  row-gap: 30px;
}

.errorMsg {
  position: absolute;
  left: 0;
  bottom: -25px;
  color: red;
  white-space: nowrap;
}

.closeBtn {
  padding: 5px 10px !important;
  left: -25px;
  z-index: 10;
  border-radius: 4px 0px 0px 4px !important;
}
